*{
	box-sizing: border-box; 
	/* This makes the widths of elements more consistent
		Full details here https://css-tricks.com/box-sizing/ */
}


h1{
font-size: 26pt;
font-family: 'IBM Plex Mono', monospace;
}

p em{
font-family: 'IBM Plex Mono', monospace;
font-size: 14pt;
}

body{
	margin: 0px; /* Often browsers have a 5px margin by deafult*/
	font-family: 'IBM Plex Sans', sans-serif;
}

section{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

header{
	background-color: #413C58;
	color: white; /* more readable on an orange background */
	padding-top: 30px;
	padding-bottom: 30px;
}

nav{
	padding-left: 250px;
	width: 100%;
	height: 60px;
	background-color: #EF8354;
	font-family: 'IBM Plex Mono', monospace;
	font-size: 18px;
}

nav a, nav h3{
	float: left;
	margin: 0px;
	line-height: 60px;
	margin-left: 1em;
	margin-right: 1em;
	text-decoration: none;
}

nav a:hover{
	text-decoration: underline; /* Hover styles to let people know they can click it */
}

p strong{
	background-color: #2E86AB;
	color: #222;
	font-size: 16pt;
	font-family: 'IBM Plex Mono', monospace;
	padding: 10px 100px 4px 340px;
	margin-left: auto;
	margin-right: auto;
}

.footer{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #999;
}


/* Simple grid */
.g-row{
	width: 100%;
	overflow: hidden;
}

.g-row img{
	width: 100%; /*This makes all images in grids to be the size of their cell */
}

.g-50{
	width: 50%;
	float: left;
}

.g-30{
	width: 30%;
	float: left;
}

.g-70{
	width: 70%;
	float: left;
}

.show{
	border: 1px solid blue;
	padding: 2px;
}

.padded{
	padding: 20px; /* I add this to cells to add a little padding*/
}